

.box{
    background-color: rgb(49, 142, 158);
    color: aliceblue;
    padding-top: 30px;
    padding-right: 80px;
    padding-bottom: 30px;
    padding-left: 80px;

   margin-top: 40px;
   margin-right: 250px;
   margin-bottom: 40px;
   margin-left: 250px;
}