.parent{
    background-color: rgb(132, 168, 199);

}

.boxone{
    background-color: rgb(223, 220, 220);
    color: black;
    padding: 10px;
   width: 226px;
   height: 340px;
   border-radius: 10px;
}

.boxone > img {
    border-radius: 10px;
}


