*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
      font-family: Graphik, Arial, sans-serif;
}

/* header */
.parent{
    background-color: white;
    color: black;
    padding: 5px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding-left:23px ;
    gap: 50px;

    position: fixed;
      top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    border-top: solid 1px #d6d6df;
    border-bottom: solid 1px #d6d6df;
}



.logo{
    width: 118px;
}

.ninedot{
    width: 40px;
}


.nav{
   display: flex;
   justify-content: center;
   gap: 60px;
}

.nav > a{
    color: black;
    font-size:13px;
    font-weight: bold;
    text-decoration: none;
    
}
.nav > a:hover{
    color:#e5322d;
}

.account{
    display: flex;
    margin-left: 190px;
    gap:30px;
}

.btn{
    border: none;
    background-color: white;
    width: 30px;
    font-size:15px;
    font-weight: bold;
}

.btn:hover{
    color: #e5322d;
}

.btnone{
    border: none;
    border-radius: 10px;
    padding: 9px;
    width: 90px;
    background-color: #e5322d;
    color: white;
    width: 80px;
    font-size:15px;
    font-weight: bold;
}

.btnone:hover{
    background-color: #7c0601;
}

/*main*/
.banner{
    padding-top: 90px;
    text-align: center;
    font-size: 20.7px;
    color: rgb(66, 62, 62);
    
}

.bannerone{
    padding: 10px;
    color: #47474f;
    text-align: center;
    margin: auto;
}

.bannerone > h2{
    text-align: center;
     max-width: 980px;
     line-height: 32px;
     padding: 5px;
     margin: auto;
     font-size: 22px;
    font-weight: 300;
    color: #47474f;
    margin-bottom: 20px;
}

.type{
    display: flex;
    justify-content: center;
    gap: 20px;

}

.type > a{
    padding: 5px;
    font-size: 18px;
    text-decoration: none;
    color:  #47474f;
    font-weight: 300;
    border: solid 0.5px #d6d6df;
     transition: border-color 0.5s ease;
    border-radius: 20px;
    width: 150px;
    height: 35px;
    align-content: center;
    text-align: center;
}

.type .anchor{
    width: 50px;
    background-color: rgb(43, 42, 42);
    color: white;
}

.type > a:hover{
    border: solid 1px black;
}

/*Type*/

.parenttwo{
    margin-top: 30px;
    margin-left: 40px;
      display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card{
     border: solid 0.5px #d6d6df;
     width: 246px;
     height: 233px;
     border-radius: 15px;
    transition: border-color 0.5s ease;

}

.card > img{
    width: 50px;
    margin-top: 20px;
    margin-left: 20px;
    transition: transform 0.5s ease;
    
}

.card > h2{
    margin-top: 10px;
    margin-left:20px;
    font-size: 20px;
    color: #47474f;
    transition: color 0.5s ease;
    
}

.card > p{
    margin-left: 20px;
    margin-right: 32px;
    color: #8d8d94;
    font-size: 13.7px;
    line-height: 19px;
    text-align: start;
    transition: color 0.5s ease;
}

.card:hover{
    border: solid 1px black;
}

.card:hover h2{
    color:#33333b;
}

.card:hover p {
    color: #33333b;
}

.card:hover img {
    transform: scale(1.1);
}

/* cardone*/

.cardone{
     border: solid 0.5px #d6d6df;
     width: 246px;
     height: 270px;
     border-radius: 15px;
    transition: border-color 0.5s ease;

}

.cardone > img{
    width: 50px;
    margin-top: 20px;
    margin-left: 20px;
    transition: transform 0.5s ease;
    
}

.cardone > h2{
    margin-top: 10px;
    margin-left:20px;
    font-size: 20px;
    color: #47474f;
    transition: color 0.5s ease;
    
}

.cardone > p{
    margin-left: 20px;
    margin-right: 32px;
    color: #8d8d94;
    font-size: 13.7px;
    line-height: 19px;
    text-align: start;
    transition: color 0.5s ease;
}

.cardone:hover{
    border: solid 1px black;
}

.cardone:hover h2{
    color:#33333b;
}

.cardone:hover p {
    color: #33333b;
}

.cardone:hover img {
    transform: scale(1.1);
}

/* card */

.parentthree{
    margin-top: 30px;
    margin-left: 40px;
      display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.cardtwo{
     border: solid 0.5px #d6d6df;
     width: 246px;
     height: 270px;
     border-radius: 15px;
    transition: border-color 0.5s ease;
}

.cardtwo > img{
    width: 50px;
    margin-top: 20px;
    margin-left: 20px;
    transition: transform 0.5s ease;
    
}

.cardtwo > h2{
    margin-top: 10px;
    margin-left:20px;
    font-size: 20px;
    color: #47474f;
    transition: color 0.5s ease;
    
}

.cardtwo > p{
    margin-left: 20px;
    margin-right: 32px;
    color: #8d8d94;
    font-size: 13.7px;
    line-height: 15px;
    text-align: start;
    transition: color 0.5s ease;
}

.cardtwo:hover{
    border: solid 1px black;
}

.cardtwo:hover h2{
    color:#33333b;
}

.cardtwo:hover p {
    color: #33333b;
}

.cardtwo:hover img {
    transform: scale(1.1);
}

.cardplus{
    border: solid 0.5px #d6d6df;
     width: 246px;
     height: 233px;
     border-radius: 15px;
    transition: border-color 0.5s ease;
}

.cardplus >  h2{
    margin-top: 20px;
    margin-left:20px;
    font-size: 20px;
    color: #47474f;
    transition: color 0.5s ease;
}

.cardplus > p{
     margin-left: 20px;
    margin-right: 32px;
    color: #8d8d94;
    font-size: 13.7px;
    line-height: 20px;
    text-align: start;
    transition: color 0.5s ease;
}

.cardplus >  h3{
    margin-top: 50px;
    margin-left:20px;
    font-size: 14px;
    color:  #43434b;
    transition: color 0.5s ease;
}

/* work */

.work{
    margin-top: 80px;
    text-align: center;
}

.work > h1{
    color:#33333b;
    font-size: 40px;
}

