*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.parent{
    background-color:white;
    padding: 5px;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 90px;
}
.logo{
    width: 120px;
}

.dot{
    width: 40px;
}