.parent{
    background-color: rgb(132, 168, 199);
    display: flex;
    gap: 10px;

}

.boxone{
    background-color: rgb(223, 220, 220);
    color: black;
    padding: 10px;
   width: 226px;
   height: 340px;
   border-radius: 10px;
}

.boxone > img {
    border-radius: 10px;
}

.button{
    background-color: rgb(56, 70, 151);
    padding: 2px;
    width: 50px;
    margin-left: 80px;
}

.boxtwo{
    background-color: rgb(223, 220, 220);
    color: black;
    padding: 10px;
   width: 226px;
   height: 340px;
   border-radius: 10px;
}

.boxtwo > img {
    border-radius: 10px;
}

.button{
    background-color: rgb(56, 70, 151);
    padding: 2px;
    width: 50px;
    margin-left: 80px;
}

.boxtwo{
    background-color: rgb(223, 220, 220);
    color: black;
    padding: 10px;
   width: 226px;
   height: 340px;
   border-radius: 10px;
}

.boxtwo > img {
    border-radius: 10px;
}

.button{
    background-color: rgb(56, 70, 151);
    padding: 2px;
    width: 50px;
    margin-left: 80px;
}

.boxthree{
    background-color: rgb(223, 220, 220);
    color: black;
    padding: 10px;
   width: 226px;
   height: 340px;
   border-radius: 10px;
}

.boxthree > img {
    border-radius: 10px;
}

.button{
    background-color: rgb(56, 70, 151);
    padding: 2px;
    width: 50px;
    margin-left: 80px;
}

.boxfour{
    background-color: rgb(223, 220, 220);
    color: black;
    padding: 10px;
   width: 226px;
   height: 340px;
   border-radius: 10px;
}

.boxfour > img {
    border-radius: 10px;
}

.button{
    background-color: rgb(56, 70, 151);
    padding: 2px;
    width: 50px;
    margin-left: 80px;
}

.boxfive{
    background-color: rgb(223, 220, 220);
    color: black;
    padding: 10px;
   width: 226px;
   height: 340px;
   border-radius: 10px;
}

.boxfive > img {
    border-radius: 10px;
    width: 50px;
}

.button{
    background-color: rgb(56, 70, 151);
    padding: 2px;
    width: 50px;
    margin-left: 80px;
}