*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.parent{
    background-color: rgb(35, 78, 196);
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}

.box{
    background-color: rgb(190, 211, 211);
    padding: 20px;
    width: 220px;
    height: 320px;
    border-radius: 15px;

}

.box > img{
    width: 180px;
    border-radius: 15px;
}

.btn{
    border: none;
    border-radius: 5px;
    width: 80px;
    padding: 5px;
    background-color: darkorange;
    display: block;
    margin: auto;
    
}