*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.parent{
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: rgb(84, 132, 187);
    width: 1150px;
    height: 600px;
    
}

.boxone{
    background-color: rgb(223, 220, 220);
    color: black;
    padding: 10px;
   width: 180px;
   height: 280px;
   border-radius: 10px;

}

.boxone > img {
    border-radius: 10px;
    width: 160px;
}

.button{
    background-color: gold;
    width: 50px;
    border: none;
    border-radius: 8px;
    margin-left: 55px;
}




