*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.parent{
    background-color: peru;
    height: 1100px;
    position: relative;

}

.box{
    background-color: lightgray;
    padding: 20px;
    width: 210px;
    border-radius: 10px;
    position:absolute;
    top: 10px;
    right: 10px;
}

.box > img{
    width: 170px;
    border-radius: 10px;
    
}
.btn{
    background-color: darkorange;
    border: none;
    border-radius: 10px;
    display: block;
    margin: auto;
    width: 50px;
    padding: 6px;
}

.boxone{
    background-color: lightgray;
    padding: 20px;
    width: 210px;
    border-radius: 10px;
    position:absolute;
    top: 400px;
    left: 550px;
    
    
}

.boxone > img{
    width: 170px;
    border-radius: 10px;
    
}
.btnone{
    background-color: darkorange;
    border: none;
    border-radius: 10px;
    display: block;
    margin: auto;
    width: 50px;
    padding: 6px;
}

.boxtwo{
    background-color: lightgray;
    padding: 20px;
    width: 210px;
    border-radius: 10px;
    position:absolute;
    bottom: 10px;
    left: 10px;
    
    
}

.boxtwo > img{
    width: 170px;
    border-radius: 10px;
    
}
.btntwo{
    background-color: darkorange;
    border: none;
    border-radius: 10px;
    display: block;
    margin: auto;
    width: 50px;
    padding: 6px;
}