*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color:  rgb(0, 183, 255);
    color: white;
}

.Title > h1{
    background-color: rgb(1, 94, 182);
    padding: 5px;
    border: none;
    border-radius: 10px;

}


.parent{
    background-color: rgb(0, 183, 255);
    color: white;
    position: relative;
    
}


.card{
    background-color: rgb(97, 158, 173);
    padding: 10px;
    width: 220px;
    height: 400px;
    border-radius: 15px;
    gap: 40px;
    transition: transform 0.5s ease;
    
}

.card > img{

    width: 200px;
    border-radius: 15px;
    
}

.card > button{
      border: none;
     border-radius: 10px;
     background-color: rgb(2, 128, 2);
     color: white;
     padding: 5px;
     width: 90px;
     display: block;
     margin: auto;
     
}

 .parent{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    gap: 40px;
    
}

@media (max-width:1024px){
    .parent{
         background-color: rgb(0, 183, 255);
    color: white;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    justify-items: center;

    }
}


@media (max-width:600px){
    .parent{
         background-color: rgb(0, 183, 255);
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 40px;

    }
}


.card:hover{
        transform: translateY(-20px);
        box-shadow: 0px 0px 5px 5px rgb(43, 41, 41);
        color: black;
}


.card > button:hover{
    background-color: rgb(7, 252, 7);
    color: black;
    border: solid 1px black;
}

